@import 'tailwindcss';

a:hover {
    color: var(--vp-c-brand-1);
}

/* 移除 vp-doc h2 的 border-top */
.vp-doc h2 {
    border-top: none !important;
    margin-top: 0;
    padding-top: 0;
}

.edit-info {
    display: none !important;
}

.post-dot::before {
    display: inline-block;
    content: '';
    margin-right: 10px;
    width: 4px;
    height: 4px;
    line-height: 18px;
    border-radius: 50%;
    background-color: var(--vp-c-brand-1);
    vertical-align: middle;
}

/* 图标颜色适应主题 */
.post-info-icon {
    filter: brightness(0) saturate(100%) invert(0.6);
}

.dark .post-info-icon {
    filter: brightness(0) saturate(100%) invert(0.8);
}

.vp-nolebase-git-changelog {
    margin-bottom: 20px;
}
